pipeline/PipelineForEach.json
{
	"name": "PipelineForEach",
	"properties": {
		"activities": [
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "IfCondition",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().name, concat(variables('fechaActual'), '.flg'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CopyData",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "StopUntil",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "@variables('fechaActual')",
														"type": "Expression"
													},
													"wildcardFileName": "*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ""
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Stg",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "Raw",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Delete1",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "CopyData",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "StgFolder",
												"type": "DatasetReference",
												"parameters": {
													"date": {
														"value": "@variables('fechaActual')",
														"type": "Expression"
													}
												}
											},
											"logStorageSettings": {
												"linkedServiceName": {
													"referenceName": "AzureBlobStorage1",
													"type": "LinkedServiceReference"
												}
											},
											"enableLogging": true,
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "Delete2",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "CopyData",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "Stg",
												"type": "DatasetReference"
											},
											"logStorageSettings": {
												"linkedServiceName": {
													"referenceName": "AzureBlobStorage1",
													"type": "LinkedServiceReference"
												}
											},
											"enableLogging": true,
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": {
													"value": "@concat(variables('fechaActual'), '.flg')",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "StopUntil",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "stopUntil",
											"value": {
												"value": "@bool(true)",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}